@use './variables.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sintony', sans-serif;
    font-style: normal;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: url(../images/hero-img.png) center no-repeat;
    background-repeat: no-repeat;
    background-size: cover;

    .top_navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            margin: 22px 0 auto 125px;
        }

        #hamburger_menu,
        #close_menu {
            display: none;
        }

        #sidebar_menu {
            visibility: visible;
        }

        #nav_menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 484px;
            margin: 31px 100px auto 0;

            a {
                color: $white;
                gap: 45px;
                text-decoration: none;
            }
        }
    }

    section {
        display: flex;
        flex-direction: column;

        h1 {
            font-weight: 700;
            font-size: 64px;
            line-height: 83px;
            text-align: center;
            letter-spacing: -0.107143px;
            text-transform: uppercase;
            color: $white;
            text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
            margin: 244px auto 15px auto;
        }

        span {
            font-weight: 700;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: $white;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }

        button {
            position: relative;
            width: 246px;
            height: 55px;
            background-color: $yellow;
            border: none;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            text-align: center;
            text-transform: uppercase;
            color: $black;
            border-radius: 52px;
            margin: 60px auto 263px auto;
            overflow: hidden;

            &:hover {
                cursor: pointer;
            }

            &:after {
                content: '';
                position: absolute;
                left: -50px;
                top: 0;
                width: 50px;
                height: 100%;
                background-color: $white;
                opacity: 0.4;
                border: none;
                border-radius: 52px;
                transform: rotate(20deg);
                transition: transform 0.3s;
            }

            &:hover:after {
                transform: translateX(346px) rotate(20deg);
            }
        }
    }

    .arrow_down {
        width: 60px;
        margin: 0 auto 35px auto;
        filter: invert(1);
    }
}

main {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    section {
        .container_about {
            display: flex;
            margin: 127px 200px;

            .container_about--text {
                h2 {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 42px;
                    text-transform: uppercase;
                    color: $blue_dark;
                    padding-bottom: 32px;
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 30px;
                    letter-spacing: -0.128571px;
                    text-transform: capitalize;
                    color: $grey_medium;
                    padding-bottom: 10px;
                    padding-right: 66px;
                }

                .read_more {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 21px;
                    float: right;
                    text-transform: lowercase;
                    color: $black;
                    text-decoration: underline solid 9px $yellow;
                    padding-right: 66px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .searcher_mobile {
        display: none;
    }

    .searcher {
        background-image: url(../images/searcher-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 307px;

        .container_search {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .container_search--text {
                h2 {
                    margin: 109px auto 113px 200px;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 42px;
                    text-transform: uppercase;
                    color: $blue_dark;
                }
            }

            .container_search--bar {
                form {
                    position: relative;
                    margin-right: 200px;

                    #search {
                        width: 600px;
                        height: 55px;
                        background: $white;
                        border-radius: 43px;
                        border: none;
                        padding-left: 35px;

                        ::placeholder {
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 18px;
                            text-transform: lowercase;
                            color: $grey_light;
                            padding-left: 35px;
                        }
                    }

                    button {
                        position: absolute;
                        width: 186px;
                        height: 55px;
                        left: 414px;
                        top: 0px;
                        background: $yellow;
                        border-radius: 30px;
                        border: none;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 20px;
                        text-align: center;
                        text-transform: uppercase;
                        color: $black;

                        &:hover {
                            cursor: pointer;
                        }


                    }
                }
            }
        }
    }

    section {

        .container_specials {
            margin: 115px auto 50px auto;

            h2 {
                font-weight: 700;
                font-size: 32px;
                line-height: 42px;
                text-transform: uppercase;
                text-align: center;
                color: $blue_dark;
            }
        }

        .container_specials--grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 27px;
            grid-row-gap: 26px;
            margin-bottom: 70px;

            .recipe {
                width: 395px;
                height: 615.58px;
                background: $white;
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
                border-radius: 15px;

                .recipe_frame {
                    padding: 28px 28px 21px 30px;

                    h3 {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 26px;
                        letter-spacing: -0.285714px;
                        color: $black;
                        padding-bottom: 20px;
                    }

                    p {
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 25px;
                        text-align: justify;
                        letter-spacing: -0.128571px;
                        color: $grey_medium;
                    }
                }

                .btn_show_recipe {
                    display: flex;

                    button {
                        width: 176px;
                        height: 51px;
                        border-radius: 30px;
                        background-color: $white;
                        color: $black;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 20px;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 22px auto 0 auto;
                        border: 2px solid $black;

                        &:hover {
                            cursor: pointer;
                            background-color: $yellow;
                            transition: 0.5s ease;
                        }
                    }
                }
            }
        }

        .btn_show_more_recipes {
            display: flex;
            justify-content: center;
            margin: 0 auto 140px auto;

            button {
                position: relative;
                width: 260px;
                height: 55px;
                border-radius: 30px;
                text-align: center;
                background: $yellow;
                border: none;
                color: $black;
                font-weight: 700;
                font-size: 15px;
                line-height: 20px;
                text-transform: uppercase;
                overflow: hidden;

                &:hover {
                    cursor: pointer;
                }

                &:after {
                    content: '';
                    position: absolute;
                    left: -50px;
                    top: 0;
                    width: 50px;
                    height: 100%;
                    background-color: $white;
                    opacity: 0.4;
                    border: none;
                    border-radius: 52px;
                    transform: rotate(20deg);
                    transition: transform 0.3s;
                }

                &:hover:after {
                    transform: translateX(346px) rotate(20deg);
                }
            }
        }
    }
}

footer {
    width: 100%;
    background-color: $blue_dark;

    .bottom_navbar {
        padding: 21px 0;

        nav {
            display: flex;
            justify-content: space-between;
            width: 459px;
            margin: 0px auto;

            a {
                color: $white;
                text-decoration: none;
                font-weight: 700;
                font-size: 13px;
                line-height: 25px;
                letter-spacing: -0.107143px;
                text-transform: uppercase;
                text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
                display: flex;
            }
        }
    }
}


//MOBILE

@media screen and (max-width: 767px) {
    header {
        width: 100%;

        .top_navbar {
            .logo {
                margin: 15px;
            }

            #hamburger_menu {
                position: relative;
                display: block;
                margin-right: 15px;

                &.active {
                    opacity: 0;

                    #close_menu {
                        position: absolute;
                        display: block;
                        top: 15px;
                        right: 15px;
                        filter: invert(1);
                        opacity: 1;
                    }
                }
            }

            #nav_menu {
                width: unset;
                height: 285px;
                position: fixed;
                left: 100%;
                top: 82px;
                gap: 0;
                flex-direction: column;
                background-color: #FFFCF8;
                text-align: center;
                justify-content: space-evenly;
                animation: fadeIn 1s;

                @keyframes fadeIn {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }

                &.active {
                    left: 0%;
                    right: 0%;
                    margin: 0 auto;
                    z-index: 9999;

                    a {
                        color: $black;
                    }
                }
            }
        }

        section {
            height: 645px;

            h1 {
                font-size: 50px;
                line-height: 75px;
                margin: 150px auto 40px auto;
            }

            button {
                position: relative;
                margin: 40px auto;
            }

        }
    }

    main {
        width: 100%;

        section {
            .container_about {
                flex-wrap: wrap;
                justify-content: center;
                margin: 100px 0;
                width: 100%;

                .container_about--text {
                    h2 {
                        padding-bottom: 10px;
                        text-align: center;
                    }

                    p {
                        padding: 20px;
                        text-align: center;
                    }

                    .read_more {
                        display: flex;
                        justify-content: center;
                        float: unset;
                        padding-right: 0;
                    }
                }

                .container_about--image {
                    img {
                        width: 250px;
                        margin-top: 80px;
                    }
                }
            }
        }

        .searcher {
            display: none;
        }

        .searcher_mobile {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            background: linear-gradient(273.38deg, rgba(0, 0, 0, 0) 3.6%, rgba(0, 34, 59, 0.35) 71.14%), url(../images/searcher_mobile-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;

            .container_search {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .container_search--text {
                    position: relative;

                    h2 {
                        font-size: 16px;
                        position: absolute;
                        top: -35px;
                        width: 300px;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }

                .container_search--bar {
                    form {
                        margin: 25px auto;
                        position: relative;

                        #search {
                            width: 300px;
                            height: 50px;
                            background: $white;
                            border-radius: 43px;
                            border: none;
                            padding-left: 35px;
                        }

                        button {
                            position: absolute;
                            width: 105px;
                            height: 50px;
                            left: 195px;
                            background-color: $yellow;
                            border-radius: 30px;
                            border: none;
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 20px;
                            text-align: center;
                            text-transform: uppercase;
                            color: #000000;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        section {

            .container_specials {
                margin: 60px auto;

                h2 {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 42px;
                    text-transform: uppercase;
                    text-align: center;
                    color: $blue_dark;
                    margin: 0 10px;
                }
            }

            .container_specials--grid {
                display: flex;
                flex-direction: column;
                align-items: center;
                grid-row-gap: 40px;
                margin-bottom: 50px;

                .recipe {
                    max-width: 300px;
                    width: 100%;
                    height: 100%;
                    background: $white;
                    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
                    border-radius: 15px;


                    img {
                        width: 100%;
                    }

                    .recipe_frame {
                        padding: 41px 28px 21px 30px;

                        h3 {
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 26px;
                            letter-spacing: -0.285714px;
                            color: $black;
                            padding-bottom: 20px;
                        }

                        p {
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 25px;
                            text-align: justify;
                            letter-spacing: -0.128571px;
                            color: $grey_medium;
                        }
                    }
                }
            }

            .btn_show_more_recipes {
                display: flex;
                justify-content: center;
                margin: 0 auto 100px auto;
            }
        }
    }

    footer {
        width: 100%;
        background-color: $blue_dark;

        .bottom_navbar {

            nav {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 0px auto;
            }
        }
    }
}

//TABLET AND MORE

@media screen and (min-width: 768px) and (max-width: 1439px) {

    header {
        .top_navbar {
            .logo {
                margin: 22px 0 auto 40px;
            }
        }
    }

    main {
        width: 100%;

        section {
            .container_about {
                display: flex;
                margin: 126px 40px;

                .container_about--text img {
                    padding-top: 30px;
                    float: left;
                }
            }
        }

        .searcher {
            background-image: url(../images/searcher-bg.png);
            background-repeat: no-repeat;
            background-size: unset;

            .container_search {
                display: flex;
                justify-content: space-evenly;
                flex-direction: row;
                margin: 98px;

                .container_search--text {
                    h2 {
                        margin: 0 auto;
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 40px;
                    }
                }

                .container_search--bar {
                    form {
                        margin: 25px auto;

                        #search {
                            width: 300px;
                            height: 50px;
                            background: $white;
                            border-radius: 43px;
                            border: 2px solid $grey_medium;
                            padding-left: 35px;

                            ::placeholder {
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 18px;
                                text-transform: lowercase;
                                color: $grey_light;
                                padding-left: 35px;
                            }
                        }

                        button {
                            position: absolute;
                            width: 105px;
                            height: 50px;
                            left: 195px;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }


        section {

            .container_specials--grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .recipe {
                    width: 395px;
                    height: 615.58px;
                    background: $white;
                    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
                    border-radius: 15px;

                    .recipe_frame {
                        padding: 28px 28px 21px 30px;

                        h3 {
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 26px;
                            letter-spacing: -0.285714px;
                            color: $black;
                            padding-bottom: 20px;
                        }

                        p {
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 25px;
                            text-align: justify;
                            letter-spacing: -0.128571px;
                            color: $grey_medium;
                        }
                    }

                    .btn_show_recipe {
                        display: flex;

                        button {
                            width: 176px;
                            height: 51px;
                            border-radius: 30px;
                            background-color: $white;
                            color: $black;
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 20px;
                            text-align: center;
                            text-transform: uppercase;
                            margin: 22px auto 0 auto;
                            border: 2px solid $black;

                            &:hover {
                                cursor: pointer;
                                background-color: $yellow;
                                transition: 2s ease;
                            }
                        }
                    }
                }
            }
        }
    }
}