@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');

$white: #FFFFFF;
$black: #000000;
$yellow: #FAD400;
$blue_dark: #00223B;
$grey_medium: #808397;
$grey_light: #9A9A9A;